@import url('https://fonts.googleapis.com/css?family=Nunito:300');
/* @import url('https://fonts.googleapis.com/css?family=Kaushan+Script'); */

body{
    font-family: 'Nunito','Courier New', monospace;
    margin:0 15px;
    background-color: black;
    /* border: 1px solid red; */
}

/* ======================================
                NAVIGATION
 ========================================*/
#navigation {
    border: 1px solid blue;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h3{
    color: white;
}

#navigation .nav-link {
    color: rgb(10, 4, 4);
}

#nav-links{
    padding-top: 20px; 
    padding-bottom: 20px;
    /* border:1px solid green; */
}

#navigation .nav-item {
    font-size: 13px;
    font-weight: 3;
    /* border:1px solid red; */
}

.navbar-nav a{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    /* border:1px solid orange; */
}

#navigation .nav-item a{
    color: white !important;
    padding: 0;
    padding-left: 45px;
}

#navigation ul.navbar-nav > li:active a{
    color: white;
}

#navigation .navbar-brand {
    color: rgb(255, 255, 255);
    padding-top: 50px; 
    padding-bottom: 50px;
    font-size: 2.1rem;
    /* border: 1px solid yellow; */
}

.navbar.scrolled {
    background: rgba(110, 90, 110, 0.877);
    transition: background 500ms;
}

/* ======================================
                SECTION
 ========================================*/

 section{
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
 }
#section-1{
    border: 1px solid green;
}

#section-2{
    border: 1px solid orange; 
}
#section-3{
    border: 1px solid rgb(255, 0, 170); 
}
.row{
    border:1px solid red;
}
.col-md-4{
    border:1px solid yellowgreen;
}

/* .special{
    height:171.266;
    width: 288;
} */
 
