@import url('https://fonts.googleapis.com/css?family=Nunito:300');
/* @import url('https://fonts.googleapis.com/css?family=Kaushan+Script'); */

body{
    font-family: 'Nunito','Courier New', monospace;
    margin:0 15px;
    /* border: 1px solid red; */
}

/* ======================================
                NAVIGATION
 ========================================*/
#navigation {
    /* border: 1px solid blue; */
    padding: 0;
    box-sizing: border-box;
}

#navigation .nav-link {
    color: rgb(10, 4, 4);
}

#navigation .nav-item {
    font-size: 13px;
    font-weight: 3;
}

#navigation .nav-item a{
    padding: 0;
    padding-left: 45px;
}

#navigation ul.navbar-nav > li:active a{
    color: white;
}

#navigation .navbar-brand {
    color: rgb(0, 0, 0);
    padding-top: 50px; 
    padding-bottom: 50px;
    font-size: 2.1rem;
}

.active{
    background-color: blue;
}

.navbar.scrolled {
    background: rgba(110, 90, 110, 0.877);
    transition: background 500ms;
}

/* ======================================
                SECTION
 ========================================*/

 section{
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
 }
#section-1{
    /* border: 1px solid green; */
}

#section-2{
    /* border: 1px solid orange;  */
}
#section-3{
    /* border: 1px solid rgb(255, 0, 170);  */
}
.row{
    /* border:1px solid red; */
}
.col-md-4{
    /* border:1px solid yellowgreen; */
}
